body
    // background-color: black !important
    transition-duration: .5s
    .skills
        .section_skills
            padding: 10rem 3rem

            transform: skewY(-7deg)
            .transform_reset
                transform: skewY(7deg)
            .skills-contents
                margin-top: 5rem
                margin-bottom: 5rem
        .skills-card
            background-color: rgb(255,255,255,.8)
            ul
                display: flex
                flex-wrap: wrap
            li
                width: 50%
    .autobiography
        margin: 15rem 3rem
