.menu
    width: 100%
    padding: 0 8px
    text-align: center
    position: fixed
    left: 50%
    transform: translate(-50%,-50%)
    order: 1000
    display: flex
    justify-content: center
    bottom: 0
    .menu-wrapper
        border-radius: 10px
        background-color: rgba(0,0 ,0 ,0.9 )

        .menu-buttons
            display: flex
            justify-content: center
            .primary
                background-color: black
                color: white
                padding: 8px
                margin: 0
                padding: 0
            .select-button
                margin-left: 6px
                background-color: #616161
    button
        box-sizing: border-box
        border: 2px solid #000000
        border-radius: 4px
        background-color: #333232
        color: black
        margin: 1rem
        padding: 0.5rem 1.5rem
        transition: 0.5s

    button:hover
        background-color: #ff5900
        color: white

    button:focus
        background-color: #ff5900
        color: white

.skill-content
    > *
        animation: fadein 2s

.skill-img img
    animation: fadein 2s
    width: 100%

@keyframes fadein
    0%
        opacity: 0

    100%
        opacity: 1
        color: rgb(137, 58, 58)
