@media (max-width: 575.99px)
  .navigation
    display: none

.header
  background-color: black
  display: flex
  justify-content: end
  align-items: center

  &
    position: -webkit-sticky
    position: sticky
    top: 0
    z-index: 1
    transition: 1s

  .logo
    height: 50px
    margin-right: auto
    margin-left: 20px

  .navigation
    text-decoration: none
    color: rgb(255, 255, 255)
    margin: 10px

  .bars
    height: 25px
    padding: 10px
    color: rgb(0, 0, 0)
  a
    color: currentColor

.change
  background-color: rgb(144, 107, 107) !important
