.introduction {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  p {
    color: white;
  }
  .social-icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1.5rem;
  }

  .title {
    color: white;
    p {
      font-size: 0.5rem;
      color: #8f8f8f;
    }
  }
  .myself {
    background-color: #5c5c5c;
    h3 {
      color: white;
      float: right;
    }
  }
  .button-group {
    justify-content: center;
    align-items: center;
    background-color: #d6daad;
  }
}
